<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FirstPython</title>
</head>
<body>
    <form action="http://localhost:5000/login" method="post">
        <p>Enter User Name And Password:</p>
        <p>
            <label for="txtUserName">User ID :</label>
            <input id="txtUserName" type="text" name="username" />
        </p>
        <p>
            <label for="txtPassword">Password :</label>
            <input id="txtPassword" type="password" name="password" />
        </p>
        <p>
            <input id="btnSubmit" type="submit" value="submit" />
        </p>
    </form>
</body>
</html>